.humpinator-wrapper{
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.humpinator-wrapper > .humpinator-label{
  color: white;
  background: rgba(0,0,0,0.6);
  padding: 5px;
  position: absolute;
  top: -60px;
  left: 0;
}
.humpinator-options li a{
  vertical-align: middle;
  position: relative;
  top: 1px
}
.humpinator-options input[type=checkbox] {
  vertical-align: middle;
  position: relative;
}

.humpinator-options > li > ul{
  padding-left: 10px;
}