.humpinator-wrapper{
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.humpinator-wrapper > .humpinator-label{
  color: white;
  background: rgba(0,0,0,0.6);
  padding: 5px;
  position: absolute;
  top: -60px;
  left: 0;
}
.humpinator-options li a{
  vertical-align: middle;
  position: relative;
  top: 1px
}
.humpinator-options input[type=checkbox] {
  vertical-align: middle;
  position: relative;
}

.humpinator-options > li > ul{
  padding-left: 10px;
}

div.humpinator-emoticon-set{
  width: 300px !important;
  height: 250px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
div.humpinator-emoticon-set > a {
  display: inline-block;
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
}

.humpinator-emoticon-set::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

.humpinator-emoticon-set::-webkit-scrollbar:hover {
  height: 18px;
}

.humpinator-emoticon-set::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background: #384D70;
  border-width: 1px;
  border-style: solid;
  border-color: #7484A0;
}

.humpinator-emoticon-set::-webkit-scrollbar-track-piece {
  background-color: #7484A0;
}
